/* src/Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 4px;
    max-width: 377px;
    width: 100%;
    position: relative;
    height: 488px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

.App {
    text-align: center;
    padding: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
    